
.ball {

    width: 40px;
    height: 30px;
    background-color: #f00;
    border-radius: 50%;

    position: fixed;
}

.button {
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
    text-align: center;
}